@import url('https://fonts.googleapis.com/css?family=Teko');

#countdown-form,
#countdown {
	display: block;
	text-align: center;

	margin: 1em 0;
}

#countdown #current,
#countdown #remaining,
#countdown #formatted {
	display: block;
	margin: 0.125em 0;

	font-family: 'Teko', sans-serif;
	line-height: 1;
	font-size: 16pt;
}

#countdown #remaining {
	font-size: 80pt;
	text-shadow: 0 0 0.05em rgba(164,0,255,0.75);
}
